build/
starlink/ast/exceptions.c
__pycache__/
.#*
starlink/ast/AsTime_def.c
starlink/ast/AsTime_desc.c
starlink/ast/Bottom_def.c
starlink/ast/Bottom_desc.c
starlink/ast/Digits_def.c
starlink/ast/Digits_desc.c
starlink/ast/Direction_def.c
starlink/ast/Direction_desc.c
starlink/ast/Format_def.c
starlink/ast/Format_desc.c
starlink/ast/IsLatAxis_def.c
starlink/ast/IsLatAxis_desc.c
starlink/ast/IsLonAxis_def.c
starlink/ast/IsLonAxis_desc.c
starlink/ast/Label_def.c
starlink/ast/Label_desc.c
starlink/ast/NormUnit_def.c
starlink/ast/NormUnit_desc.c
starlink/ast/PVMax_def.c
starlink/ast/PVMax_desc.c
starlink/ast/PcdCen_def.c
starlink/ast/PcdCen_desc.c
starlink/ast/ProjP_def.c
starlink/ast/ProjP_desc.c
starlink/ast/SkyRefP_def.c
starlink/ast/SkyRefP_desc.c
starlink/ast/SkyRef_def.c
starlink/ast/SkyRef_desc.c
starlink/ast/Symbol_def.c
starlink/ast/Symbol_desc.c
starlink/ast/Top_def.c
starlink/ast/Top_desc.c
starlink/ast/Unit_def.c
starlink/ast/Unit_desc.c
starlink/ast/WcsAxis_def.c
starlink/ast/WcsAxis_desc.c

