build/
starlink/ast/exceptions.c
__pycache__/
.#*
*~
*.pyc
starlink/ast/*_def.c
starlink/ast/*_desc.c
starlink/ast/pyast_version.h
*.so
*.egg-info/
*.dist-info/
sun211.htx/
src/starlink/ast/*_def.c
src/starlink/ast/*_desc.c
src/starlink/ast/pyast_version.h
