include ast/*.h
include ast/pal/*
include ast/erfa/*
include ast/cminpack/*
include starlink/ast/*.desc
include ast/sun211.htx_tar
recursive-include tools *.py
recursive-include starlink/ast/test *.attr
recursive-include starlink/ast/test *.box
recursive-include starlink/ast/test *.head
recursive-include starlink/ast/test *.fit
recursive-include starlink/ast/test *.py

